*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  height: 100%;
}
.container {
  background-color: #fdfafa;
  object-fit: cover;
  background-size: cover;
  opacity: 0.5;
}
.search {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #333333 0px 0px 0px 2px;
  display: flex;
  margin: 1rem;
  border-radius: 3rem;
  color: antiquewhite;
  font-weight: 700;
}
.search input {
  border-radius: 2rem 0 0 2rem;
  display: flex;
  background-color: rgb(165, 182, 197);
  color: black;
  font-weight: 700;
}
.search button {
  border-radius: 0 1rem 1rem 0;
  padding: 1rem;
  font-size: small;
  color: black;
}
.display {
  width: 100px;
  height: 100px;
}
.display-box {
  background-color: #bedfd1;
  color: black;
  font-size: 2rem;
  font-weight: 700;
  height: 12rem;
  display: flex;
  margin: 3rem 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.display-box > img {
  width: 50%;
}
.city-name {
  font-size: 1.5rem;
}
.weather-type {
  font-size: 1.5rem;
}
.temperature {
  font-size: 3rem;
}
.city-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wind-humidity {
  height: 8rem;
  display: flex;
}
.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.stats > img {
  margin: 0 2rem;
  border-radius: 2rem;
}
.future-data-bar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(60, 17, 68, 0.6);
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}
.future-data-bar > .image-weather > img{
  width: 4rem;
  margin: 0 1rem;
}
.future-data-bar > p{
  font-size: 1rem;
}
.temperature{
  font-size: 1.4rem;
}